<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.netflix_clone.model.ActorDaoImpl">

<!-- actorResultMap 정의 -->
    <resultMap id="actorResultMap" type="com.soo.netflix_clone.vo.ActorVo">
        <id property="actorNo" column="actor_no"/> <!-- 기본 키 (Primary Key) 매핑 -->
        <result property="actorName" column="actor_name"/>
        <result property="actorPoster" column="actor_poster"/>
        <result property="actorDescrip" column="actor_descrip"/>
        <result property="actorGender" column="actor_gender"/>
        <result property="actorBirth" column="actor_birth"/>
        <result property="actorNation" column="actor_nation"/>
    </resultMap>

<!-- 영화 출현 배우 -->
<select id="selectActorsByMovie" parameterType="Integer" resultType="com.soo.netflix_clone.vo.ActorVo">
SELECT A.ACTOR_NO AS actorNo,
  A.ACTOR_NAME AS actorName,
  A.ACTOR_POSTER AS actorPoster,
  A.ACTOR_DESCRIP AS actorDescrip,
  A.ACTOR_GENDER AS actorGender,
  A.ACTOR_BIRTH AS actorBirth,
  A.ACTOR_NATION AS actorNation
FROM
  ACTOR A
JOIN
  MOVIE_ACTOR MA ON A.ACTOR_NO = MA.ACTOR_NO
WHERE
  MA.MOVIE_NO = #{movieNo}
</select>

<!-- 배우 조회 -->
<select id="selectActor">
SELECT ACTOR_NO, ACTOR_NAME, ACTOR_POSTER,
	ACTOR_DESCRIP, ACTOR_GENDER, ACTOR_NATION,
  ACTOR_BIRTH
	FROM actor a 
	WHERE ACTOR_NO = #{actorNo}
</select>

<!-- 배우 등록 -->
<insert id="insertActor" parameterType="com.soo.netflix_clone.vo.ActorVo">
INSERT INTO netflix.actor
	(ACTOR_NAME, ACTOR_POSTER, ACTOR_DESCRIP, 
	ACTOR_GENDER, ACTOR_BIRTH, ACTOR_NATION)
VALUES
	(#{actorName}, #{actorPoster}, #{actorDescrip}, 
	#{actorGender}, #{actorBirth}, #{actorNation})
</insert>

<!-- 배우 전체 조회 -->
<select id="selectAllActor" resultMap="actorResultMap">
SELECT ACTOR_NO, ACTOR_NAME, ACTOR_POSTER,
	ACTOR_DESCRIP, ACTOR_GENDER, ACTOR_BIRTH,
	ACTOR_NATION 
	FROM actor a
</select>

<!-- 배우 검색 -->
<select id="searchActor" resultMap="actorResultMap">
SELECT ACTOR_NO, ACTOR_NAME, ACTOR_POSTER,
	ACTOR_DESCRIP, ACTOR_GENDER, ACTOR_BIRTH,
	ACTOR_NATION 
	FROM actor a 
	WHERE ACTOR_NAME LIKE CONCAT('%', #{keyword}, '%')
</select>

<!-- 출연 배우 insert -->
<insert id="insertMovieActors" parameterType="map">
INSERT INTO movie_actor (movie_no, actor_no)
  VALUES
<foreach collection="actorNos" item="actorNo" separator=",">
  (#{movieNo}, #{actorNo})
</foreach>
</insert>

<!-- 배우 출연 영화 select -->
<select id="selectMoviesByActorNo" parameterType="Integer" result="movieResultMap">
SELECT m.MOVIE_NO, m.MOVIE_TITLE, m.MOVIE_DESCRIP,
		m.MOVIE_RELEASE_DATE, m.MOVIE_DURATION, m.MOVIE_GENRE,
		m.MOVIE_POSTER, m.MOVIE_VIDEO_URL, m.MOVIE_VIEW_COUNT,
		m.COMMON_NO 
	FROM movie m 
	JOIN movie_actor ma ON m.MOVIE_NO = ma.MOVIE_NO 
	WHERE ma.ACTOR_NO = #{actorNo}
</select>


</mapper>
