<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.netflix_clone.model.LikeDaoImpl">

<!-- LikeResultMap 정의 -->
    <resultMap id="likeResultMap" type="com.soo.netflix_clone.vo.LikeVo">
        <result property="userNo" column="user_no"/>
        <result property="movieNo" column="movie_no"/>
        <result property="actorVo" column="actor_no"/>
    </resultMap>

<!-- 영화 추천 -->
<insert id="likeMovie" parameterType="com.soo.netflix_clone.vo.LikeVo">
INSERT INTO netflix.`like`
  (USER_NO, MOVIE_NO)
VALUES(#{userNo}, #{movieNo})
</insert>

<!-- 영화 추천 취소 -->
<delete id="likeMovieCancel" parameterType="com.soo.netflix_clone.vo.LikeVo">
DELETE FROM netflix.`like`
  WHERE USER_NO=#{userNo} AND MOVIE_NO=#{movieNo}
</delete>

<!-- 영상 추천 개수 -->
<select id="countLikeMovie" parameterType="Integer">
SELECT COUNT(*)
	FROM netflix.`like`
	WHERE MOVIE_NO = #{movieNo}
</select>

<!-- 영상 추천 여부 확인 -->
<select id="isLikedMovie" parameterType="map">
SELECT COUNT(*)
  FROM netflix.`like`
  WHERE USER_NO = #{userNo} AND MOVIE_NO = #{movieNo}
</select>

<!-- 배우 추천 -->
<insert id="likeActor" parameterType="com.soo.netflix_clone.vo.LikeVo">
INSERT INTO netflix.`like`
  (USER_NO, ACTOR_NO)
VALUES(#{userNo}, #{actorNo})
</insert>

<!-- 배우 추천 취소 -->
<delete id="likeActorCancel" parameterType="com.soo.netflix_clone.vo.LikeVo">
DELETE FROM netflix.`like`
  WHERE USER_NO=#{userNo} AND ACTOR_NO=#{actorNo}
</delete>

<!-- 배우 추천 개수 -->
<select id="countLikeActor" parameterType="Integer">
SELECT COUNT(*)
	FROM netflix.`like`
	WHERE ACTOR_NO = #{actorNo}
</select>

<!-- 배우 추천 여부 확인 -->
<select id="isLikedActor" parameterType="map">
SELECT COUNT(*)
  FROM netflix.`like`
  WHERE USER_NO = #{userNo} AND ACTOR_NO = #{actorNo}
</select>


</mapper>
