<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.netflix_clone.model.MovieDaoImpl">

<!-- movieResultMap 정의 -->
    <resultMap id="movieResultMap" type="com.soo.netflix_clone.vo.MovieVo">
        <id property="movieNo" column="movie_no"/> <!-- 기본 키 (Primary Key) 매핑 -->
        <result property="movieTitle" column="movie_title"/>
        <result property="movieDescrip" column="movie_descrip"/>
        <result property="movieReleaseDate" column="movie_release_date"/>
        <result property="movieDuration" column="movie_duration"/>
        <result property="movieGenre" column="movie_genre"/>
        <result property="moviePoster" column="movie_poster"/>
        <result property="movieVideoUrl" column="movie_video_url"/>
        <result property="movieViewCount" column="movie_view_count"/>
        <result property="commonNo" column="common_no"/>
    </resultMap>

<!-- 모든 영화 -->
<select id="selectAllMovies" 
  resultMap="movieResultMap">
SELECT MOVIE_TITLE, MOVIE_DESCRIP, MOVIE_RELEASE_DATE, 
  MOVIE_DURATION, MOVIE_GENRE, MOVIE_POSTER, 
  MOVIE_VIDEO_URL, MOVIE_VIEW_COUNT, COMMON_NO
	FROM MOVIE
  WHERE COMMON_NO = 201
</select>

<!-- 영상 등록 -->
<insert id="insertMovie" parameterType="com.soo.netflix_clone.vo.MovieVo">
INSERT INTO netflix.movie 
  (MOVIE_TITLE, MOVIE_DESCRIP, MOVIE_RELEASE_DATE, 
  MOVIE_DURATION, MOVIE_GENRE, MOVIE_POSTER, 
  MOVIE_VIDEO_URL, MOVIE_VIEW_COUNT, COMMON_NO)
VALUES(#{movieTitle}, #{movieDescrip}, #{movieReleaseDate}, 
  #{movieDuration}, #{movieGenre}, #{moviePoster},
  #{movieVideoUrl}, #{movieViewCount}, 201)
</insert>

<!-- 영상 상세 조회 -->
<select id="selectMovie" parameterType="String" resultMap="movieResultMap">
SELECT
    m.MOVIE_TITLE, m.MOVIE_DESCRIP, m.MOVIE_RELEASE_DATE,
    m.MOVIE_DURATION, g.GENRE_NAME, m.MOVIE_POSTER,
    m.MOVIE_VIDEO_URL, m.MOVIE_VIEW_COUNT, m.COMMON_NO
FROM
    netflix.movie m        
INNER JOIN
    netflix.genre g ON m.MOVIE_GENRE = g.GENRE_NO
  WHERE MOVIE_TITLE = #{movieTitle}
</select>

<!-- 영화 정보 수정 -->
<update id="updateMovie" parameterType="com.soo.netflix_clone.vo.MovieVo">
UPDATE netflix.movie
	SET MOVIE_TITLE=#{movieTitle}, MOVIE_DESCRIP=#{movieDescrip}, MOVIE_RELEASE_DATE=#{movieReleaseDate}, 
	MOVIE_DURATION=#{movieDuration}, MOVIE_GENRE=#{movieGenre}, MOVIE_POSTER=#{moviePoster}, 
	MOVIE_VIDEO_URL=#{movieVideoUrl}
WHERE MOVIE_TITLE = #{movieTitle}
</update>

<!-- 영화 비공개 처리 -->
<update id="moviePrivate" parameterType="String">
UPDATE netflix.movie
	SET COMMON_NO = 202
WHERE MOVIE_TITLE = #{movieTitle}
</update>



</mapper>
