<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.netflix_clone.model.ReviewDaoImpl">

<!-- ReviewResultMap 정의 -->
    <resultMap id="ReviewResultMap" type="com.soo.netflix_clone.vo.ReviewVo">
        <id property="reviewNo" column="review_no"/>
        <result property="userNo" column="user_no"/>
        <result property="reviewTarget" column="review_target"/>
        <result property="reviewDate" column="review_date"/>
        <result property="reviewComment" column="review_comment"/>
        <result property="reviewRating" column="review_rating"/>
        <result property="commonNo" column="common_no"/>
        <result property="userId" column="user_id"/>
    </resultMap>

<!-- 영화 리뷰 조회 -->
<select id="selectMovieReview" parameterType="Integer">
SELECT r.REVIEW_NO, r.USER_NO, r.REVIEW_TARGET, 
	r.REVIEW_DATE, r.REVIEW_COMMENT, r.REVIEW_RATING,
	r.COMMON_NO, u.USER_ID
    FROM 
        netflix.review r
    INNER JOIN 
        netflix.user u ON r.USER_NO = u.USER_NO
    WHERE 
        r.REVIEW_TARGET = #{reviewTarget}
</select>

<!-- 영화 리뷰 작성 -->
<insert id="insertMovieReview" parameterType="com.soo.netflix_clone.vo.ReviewVo">
INSERT INTO netflix.review
	(USER_NO, REVIEW_TARGET, REVIEW_DATE, 
	REVIEW_COMMENT, REVIEW_RATING, COMMON_NO)
	VALUES(#{userNo}, #{reviewTarget}, CURRENT_TIMESTAMP,
	#{reviewComment}, #{reviewRating}, 301)
</insert>

<!-- 배우 리뷰 조회 -->
<select id="selectActorReview" parameterType="Integer">
SELECT r.REVIEW_NO, r.USER_NO, r.REVIEW_TARGET, 
	r.REVIEW_DATE, r.REVIEW_COMMENT, r.REVIEW_RATING,
	r.COMMON_NO, u.USER_ID
    FROM 
        netflix.review r
    INNER JOIN 
        netflix.user u ON r.USER_NO = u.USER_NO
    WHERE 
        r.REVIEW_TARGET = #{reviewTarget}
</select>

<!-- 배우 리뷰 작성 -->
<insert id="insertActorReview" parameterType="com.soo.netflix_clone.vo.ReviewVo">
INSERT INTO netflix.review
	(USER_NO, REVIEW_TARGET, REVIEW_DATE, 
	REVIEW_COMMENT, REVIEW_RATING, COMMON_NO)
	VALUES(#{userNo}, #{reviewTarget}, CURRENT_TIMESTAMP,
	#{reviewComment}, #{reviewRating}, 302)
</insert>

</mapper>
